<form action="/links" method="post">
  <label for "url">Please enter the URL:</label>
  <input type="text" id="url" name="url">
  <label for "title">Please enter the title:</label>
  <input type="text" id="title" name="title">
  <button type="submit">Submit</button>
</form>
