<h1> New Link </h1>

<form action="/links" method="post">
  <label for "title">
  Please enter the title:
  <input type="text" id="title" name="title">
  </label>

  <label for "url">
  Please enter the URL:
  <input type="text" id="url" name="url">
  </label>

  <lablel for 'tags'>
  Please tag the link:
  <input type = 'text' id = 'tags' name = 'tags'>
  </label>
  <button type="submit">Submit</button>
</form>
