<form action="/links" method="post">
  <label for "url">Please enter the URL:</label>
  <input type="text" id="url" name="url">
  <label for "title">Please enter the title:</label>
  <input type="text" id="title" name="title">
  <lablel for 'tag'>Please enter a tag for the link</label>
  <input type = 'text' id = 'tag' name = 'tag'>
  <button type="submit">Submit</button>
</form>
